* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HarmoniaSansProCyr-SemiBd";
}

.navbar-default {
  background-color: #FFFFFF;
}

.jumbotron {
  background-color: #FFFFFF;
}

.navbar-right .btn-default {
  background-color: #FFFFFF;
  border-radius: #233569;
  color: #233569;
}

.quote {
  font-size: 30px;
}

.mission {
  width: 50%;
  float: left;
}

.mission-background-image {
  width: 50%;
  float: right;
}

.mission-background-image img {
  max-width: 100%;
}

.register {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.small {
  font-size: 10px;
}

.btn-default {
  color: #FFFFFF;
  background-color: #233569;
}

