@import "partials/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'HarmoniaSansProCyr-SemiBd';
}
.navbar-default {
    background-color: $background_sfondo;
}
.jumbotron {
    background-color: $background_sfondo;
}
.navbar-right .btn-default {
 background-color: $background_sfondo;
 border-radius: $background_button;
 color: $background_button;
}
.quote {
    font-size: 30px;
}
.mission {
    width: 50%;
    float: left;
}
.mission-background-image {
    width: 50%;
    float: right;
}
.mission-background-image img{
    max-width: 100%;
}
.register {
    list-style: none;
    display: inline-block;
    padding: 10px;
}
.small  {
    font-size: 10px;
}
.btn-default {
    color: $background_sfondo;
    background-color: $background_button;
}
